release/
!release/
!release/WolverineAnatomyTool-v0.7.zip
!release/WolverineAnatomyTool-v0.5-v0.6-v0.7/
!release/WolverineAnatomyTool-v0.5-v0.6-v0.7/**
*.log
*.obj
*.exp
*.lib
*.obj
proxy_harness.exe
proxy_harness.png
/src/runtime/d3d9.dll
__pycache__/
/tools/deterministic_harness.exe
/tools/r14/deterministic_harness.exe
/backups/
**/WolverineLive.ini

/tools/beta11/*.exe
/tools/beta11/*.bin*
/tools/beta11/validation.json
/tools/fluid/*.exe
/tools/fluid/*.obj
/tools/fluid/*.exp
/tools/fluid/*.lib
/tools/teaching/*.exe
/tools/teaching/*.obj
/tools/teaching/*.exp
/tools/teaching/*.lib

/tools/performance/*.exe
/tools/performance/TankCameraPresets.txt
/tools/teaching/TankCameraPresets.txt
*.res
*.h.tmp
/tools/harmonization/SharedBody-*.dds
/tools/harmonization/*.exe
/tools/neck/*.exe
/tools/neck/authoring/render-attributes.bin
/tools/raphe/*.exe
